@import url(../css/default.css);

/* bootstrap css modify */
.table-sm td, .table-sm th {
    padding: .5rem;
    font-size: 13.5px;
}


/*header top area styles*/
.header-top {
    padding: 11px 0;
}


.ht-social {
    float: right;
}

.ht-email span {
    font-size: 15px;
    font-weight: 500;
}

.ht-social a {
    color: var(--td);
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    border: 1px solid var(--td);
    border-radius: 50%;
}

.ht-social a:hover {
    background: #515151;
    color: #fff;
}

.ht-social select {
    border-radius: 5px;
    font-size: 15px;
    padding: 4px;
    background: #ededed;
    border: none;
    margin-right: 7px;
}

/*header area styles*/

.logo {
    width: 90px;
    transition: 0.5s;
}

.navbar {
    padding: 0;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid #ddd;
    background: #fff;
    transition: 0.5s;
}

.menu-area > ul {
    margin: 0;
    padding: 0;
}

.menu-area > ul > li {
    list-style: none;
    display: inline-block;
}

.menu-area ul li a {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}

.dropdown-menu1 ul li a .fa {
    margin-right: 5px;
}

.menu-area > ul > li > a {
    text-decoration: none;
    color: #000000;
    padding: 28px 15px;
    display: block;
    transition: 0.5s;
}

.menu-area ul li a:hover {
    color: var(--td);
}

.logo-image {
    margin-top: 15px;
}

.menu-active {
    color: brown !important;
}

.dropdown-menu1 {
    position: absolute;
    background: #fff;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
    border-top: var(--border);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.dm-software {
    width: 630px;
}

.dropdown-menu1 ul {
    margin: 0;
    padding: 0;
}

.dropdown-menu1 ul li {
    list-style: none;
}

.dropdown-menu1 ul li a {
    text-decoration: none;
    color: #000000;
    padding: 7px 10px;
    display: block;
    padding: 10px;
    transition: 0.4s;
    text-transform: capitalize;
    background: #efefef;
    border-bottom: 3px solid #ffffff;
}

.dropdown-menu1 ul li a:hover {
    background: var(--bd);
    color: #fff;
}

.dd-btn1:hover .dropdown-menu1 {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.dropdown-menu2 {
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
}

.dd-btn2 {
    position: relative;
}

.dd-btn2:hover .dropdown-menu2 {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.dd-btn1-left {
    position: relative;
}

.dropdown-menu1-left {
    position: absolute;
    right: 0;
}

.dd-btn1-left .fa-bars {
    font-size: 20px;
}

.nav-ss {
    font-size: 17px;
}

.nav-login-btn {
    background: var(--bd);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-dd-btn {
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    cursor: pointer;
}
.header-dd-menu a {
    font-weight: 400 !important;
    font-size: 15px !important;
}
.header-dd-menu a:focus{
    background: none !important;
}
.header-dd-btn img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid var(--bd);
}
/* menu bars icon styles */
.menu-icon {
    position: relative;
    width: 50px;
    height: 44px;
    box-sizing: border-box;
    padding: 4px 8px;
    cursor: pointer;
    float: right;
    display: none;
}

.menu-icon span {
    width: 100%;
    height: 4px;
    background: var(--bd);
    margin: 5px 0;
    display: block;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.3s;
}

.menu-icon.active span {
    position: absolute;
    width: calc(100% - 16px);
    top: calc(50% - 8px);
}

.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
}

.icon-div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-top: 7px;
    margin-right: 6px;
    display: none;
}

/*on scrolled css*/

header.scrolled .menu-area > ul > li > a {
    padding: 20px 15px !important;
}

header.scrolled {
    transition: 0.5s;
}

header.scrolled .logo {
    width: 70px !important;
}

/*navbar web and mobile search styles */
.web-search {
    padding: 7px;
    color: #000;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.search-mega-content {
    position: absolute;
    width: 44%;
    padding: 10px 7px;
    display: block;
    opacity: 0;
    border: 1px solid #ddd;
    display: none;
    border-radius: 2px;
    z-index: 9999;
    background: #fff;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.5) 0.3s;
    right: 16%;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.3);
}

.search-box {
    opacity: 1;
    display: block;
    top: 100%;
}

.search-item {
    width: 30%;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

/*mobile menu styles*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    background: #fdfdfd;
    transition: 0.3s;
    z-index: 9999;
    border-right: 1px solid #ddd;
    overflow: auto;
}

.mobile-menu-active {
    left: 0;
}

.mm-logo {
    border-bottom: 1px solid #ddd;
}

.mm-logo .logo {
    width: 130px;
    padding: 10px 15px;
}

.menu-link a {
    display: block;
    padding: 6px 15px;
    color: #000000;
    border-bottom: 1px solid #ededed;
    transition: 0.3s;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.menu-link a:hover {
    color: var(--td);
}

.menu-link a .fa-plus {
    float: right;
    margin-top: 5px;
}

.menu-link a .fa-minus {
    float: right;
    margin-top: 5px;
}

.menu-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-body ul li {
    border-bottom: 1px solid #ddd;
}

.menu-body .card-body {
    padding: 0;
    background: #fafafa;
}

.menu-body ul li a {
    padding: 10px 10px;
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.menu-body ul li a:hover {
    color: var(--td);
}

.mm-logo {
    position: relative;
}

.menu-body {
    padding-left: 20px;
}

/* login option modal */
.nav-login-options {
    padding-top: 20px;
}
.nav-login-options a {
    display: block;
    text-align: center;
    background: var(--bd);
    margin-bottom: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    text-decoration: none;
}

/*slider section styles*/

.slider-section .slider-book-btn {
    display: inline-block;
    color: #fff;
    background: var(--bd);
    padding: 5px 18px;
    border-radius: 5px;
}

.slider-section .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
}

.slider-section .slider-title {
    font-weight: 300;
    font-size: 45px;
}

.slider-section .slider-subtitle {
    font-weight: 600;
    font-size: 40px;
}

.slider-section .slider-desc {
    width: 51%;
}

.carousel-item{

}
.carousel-item::after{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #00000057;
}

/* about section styles */

.about-video {
    position: relative;
}

.about-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000040;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
    transition: 0.4s;
}

.about-text h3 {
    font-weight: 600;
}

.about-text p {
    line-height: 28px;
    font-weight: 500;
    text-align: justify;
}

.about-text a {
    text-decoration: none;
    background: var(--bd);
    color: #ffffff;
    display: inline-block;
    padding: 2px 18px;
    border-radius: 5px;
}

.about-video .av-img img {
    border-radius: 10px;
}

.about-video .av-play1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.about-video .av-play img {
}

.about-video:hover::after {
    opacity: 1;
}

/* work flow section styles */
.wf-txt h5 {
    font-weight: 600;
}

.wf-txt p {
    font-weight: 500;
    margin-bottom: 22px;
}

.wf-btn a {
    display: inline-block;
    border: 3px solid var(--bd);
    color: var(--td);
    padding: 5px 50px;
    margin-right: 16px;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
}

.wf-btn a:hover {
    background: var(--bd);
    color: #ffffff;
}

/* article section styles */
.article-box {
    border: 1px solid #ededed;
    box-shadow: var(--shadow);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 6px;
    transition: 0.4s;
    min-height: 407px;
}

.article-box:hover {
    transform: var(--animate);
}

.article-txt {
    padding: 20px;
}

.article-txt h5 a {
    text-decoration: none;
    color: #000000;
    text-decoration: nonoe;
    transition: 0.4s;
}

.article-txt h5 :hover {
    color: var(--td);
}

.article-txt h5 {
    font-weight: 600;
    font-size: 17px;
}

.article-img {
    overflow: hidden;
    height: 192px;
    border-radius: 10px;
    border-bottom: 1px solid #ededed;
}

.article-img img {
    border-radius: 10px;
    min-height: 100%;
}

.article-icon span {
    padding: 6px 0px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-right: 14px;
}

.article-desc p {
    font-size: 15px;
    margin-top: 6px;
}

.article-desc a {
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    transition: 0.4s;
}

.article-desc a:hover {
    color: var(--td);
}

/* training section styles */
.course-box {
    border: 1px solid #ededed;
    box-shadow: var(--shadow);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 6px;
    margin-bottom: 15px;
    transition: 0.4s;
}

.course-box:hover {
    transform: var(--animate);
}

.course-img {
    overflow: hidden;
    height: 204px;
    border-radius: 10px;
    border-bottom: 1px solid #ededed;
}

.course-img > img {
    border-radius: 10px;
    min-height: 100%;
}

.course-author {
    margin-bottom: 20px;
}

.ta-img {
    margin-top: -28px;
}

.course-desc p img {
    display: inline-block;
}

.ta-img a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-left: 12px;
}

.ta-img-main {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ddd;
    background: #fff;
}

.ta-img-main img {
}

.course-desc a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: 0.4s;
    font-size: 17px;
}

.course-desc span {
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
}

.course-desc p {
    margin-bottom: 10px;
    font-size: 15px;
}

.course-desc {
    padding: 20px;
    padding-top: 0;
}

.course-desc a:hover {
    color: var(--td);
}

/* resource section styles */
.resource-box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 368px;
    border: 1px solid #ededed;
    margin-bottom: 20px;
    transition: 0.4s;
}
.resource-box:hover {
    transform: var(--animate);
}
.resource-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000050;
    border-radius: 10px;
}

.resource-box img {
    border-radius: 10px;
    min-height: 100%;
}

.resource-box .rb-txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}

.resource-box .rb-txt a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

/* footer section styles */
.footer-section {
    background: rgb(229 235 234);
    padding: 40px 0;
}

.footer-title h5 {
    color: #ce5a2c;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 23px;
}

.footer-contact img {
    width: 22px;
    margin-right: 17px;
}

.footer-contact a {
    color: #000000;
    font-size: 15px;
}

.footer-contact .media {
    margin-bottom: 20px;
}

.footer-links img {
    width: 18px;
    margin-right: 17px;
}

.footer-links a {
    color: #000000;
    font-size: 15px;
}

.footer-links .media {
    margin-bottom: 7px;
}

.footer-section a {
    transition: 0.3s;
    text-decoration: none;
}

.footer-section a:hover {
    color: #ce5a2c;
}

.footer-newsletter p {
    font-size: 15px;
}

.footer-newsletter span {
    font-size: 12px;
    display: block;
    margin-top: 12px;
}

.ftr-nsbtn {
    background: #ce5a2ced;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 7px 7px 0 !important;
}

/* copyright section styles */
.copyright-section {
    font-size: 14px;
    padding: 20px 0;
    background: #f1f1f1;
    color: #444;
}

.copyright-section a {
    text-decoration: none;
    color: var(--td);
}

/* fix form styles */
.fix-form {
    position: fixed;
    right: -240px;
    top: 25%;
    width: 270px;
    transition: 0.5s;
    z-index: 1;
}

.useful-links {
}

.fix-form .media-body {
    height: 400px;
    overflow: auto;
    border-radius: 0 0 0 10px;
    background: #ffffff !important;
    overflow: hidden;
    border: 1px solid #ddd;
}

.fix-form-block {
    right: 0;
}

.fix-form-img {
    cursor: pointer;
    overflow: hidden;
    border-radius: 40px 0 0 40px;
    background: var(--bd);
    padding: 17px 7px;
}

.fix-form-img img {
    width: 18px;
}

.useful-links {
}

.useful-links ul li h5 {
    margin: 0;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    font-size: 19px;
    text-transform: uppercase;
    color: var(--td);
    font-weight: 500;
}

.useful-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.useful-links ul li {
}

.useful-links ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 8px;
    display: block;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding-left: 20px;
    transition: 0.3s;
}

.useful-links ul li a:hover {
    color: var(--td);
}

.useful-links ul li a img {
    width: 15px;
    margin-right: 10px;
}

/* service section styles */

/* accorion styles start */
.cardsmall {
    background: linear-gradient(#000, #000) 5px calc(100% - 13px) / 2px
        calc(100% - 35px) no-repeat;
    display: table;
    margin-bottom: 3px;
}

.cardsmall .cardsmall {
    margin-top: 0;
}

.cardsmall {
    position: relative;
    margin-bottom: 15px;
}

.cardsmall .cardsmall:before {
    content: "";
    position: absolute;
    top: 13px;
    right: calc(100% + 3px);
    width: 30px;
    height: 2px;
    background: #000;
}

.cardsmall .cardsmall:last-child:after {
    content: "";
    position: absolute;
    top: 15px;
    right: calc(100% + 5px);
    width: 30px;
    height: 100vh;
    background: #fff;
}

.cardsmall-header .arrowed {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.cardsmall-content a.active {
    color: #ce5a2c;
}
.cardsmall-header .arrowed::before {
    content: "\f0d7";
    display: inline-block;
    font-family: "FontAwesome";
    position: relative;
    right: 0;
    transition: all 0.3s;
    transform: rotate(270deg);
}

.cardsmall-header .arrowed {
    font-size: 16px;
    font-weight: 600;
}

.cardsmall-header .arrowed img {
    width: 16px;
    margin: 0 5px;
}

.arrowed[aria-expanded="true"] {
    color: var(--td);
}

.arrowed[aria-expanded="true"]::before {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}

.collapse.show {
}

.cardsmall-header {
    border-radius: calc(0.25rem - 1px);
}

.cardsmall-content {
    padding: 10px 5px 5px 36px;
    background: linear-gradient(#000, #000) 5px 23px/32px 2px no-repeat;
    overflow: hidden;
    font-size: 15px;
}

.cardsmall-content img {
    width: 13px;
    margin: 0 5px;
}

.cardsmall-content a {
    color: #000;
    text-decoration: none;
    transition: 0.4s;
}

.cardsmall-content a:hover {
    color: #ce5a2c;
}

.collapseblock {
    display: block;
}

/* accorion styles end */

.service-docs {
    box-shadow: var(--shadow);
    border: 1px solid #f5f5f5;
    padding: 10px;
    background: #fff;
    height: 400px;
}
.service-search form .input-group input {
    border-radius: 45px 0 0 45px;
    background: #ededed;
    border: none;
    font-size: 15px;
}

.service-nsbtn {
    background: var(--bd);
    color: #fff;
    border-radius: 0 45px 45px 0 !important;
    border: none;
    padding-left: 10px;
}
.service-consult > button {
    border: none;
    background: var(--bd);
    color: #fff;
    padding: 3px 15px;
    border-radius: 10px;
    font-size: 15px;
    float: right;
    margin-bottom: 11px;
    cursor: pointer;
}
.service-txt h4 {
    font-weight: 600;
}

.service-txt p {
    text-align: justify;
}

.service-section .carousel-indicators {
    bottom: -3px;
}

.service-section .carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.service-section .carousel-item{
    border-radius: 10px;
    overflow: hidden;
    border: var(--border);
}

/* accourdion styles */

.service-accordion h5 > a {
    display: block;
    position: relative;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 15px;
    border-radius: 10px;
}

.service-accordion h5 > a:after {
    content: "\f107";
    display: inline-block;
    font-family: "FontAwesome";
    position: absolute;
    transition: all 0.3s;
    font-weight: 600;
    right: 20px;
}

.service-accordion h5 > a[aria-expanded="true"]:after {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(180deg);
}
.service-accordion h5 > a[aria-expanded="true"] {
    background: var(--bd);
    color: #ffffff;
}

.service-accordion .card {
    border: none;
    margin-top: 13px;
}
.service-accordion .card-header {
    border: 1px solid #ededed;
    background: #fff;
    box-shadow: 0px 4px 10px #d5d5d5;
    border-bottom: 0;
    border-radius: 10px;
    padding: 0;
}

.sk-title h4 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

/* service modal styles */
.service-cunsult-modal .modal-header {
    padding: 10px 20px;
    border: none;
    padding-bottom: 0;
}
.sm-body {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 15px;
}

.sm-body h5 {
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: var(--td);
    margin-bottom: 12px;
    padding-bottom: 14px;
    font-weight: 600;
}
.sm-body > p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}

.sm-body input,
.sm-body textarea {
    background: #ededed;
}
.sm-body form .form-group p {
    font-size: 14px;
    margin-bottom: 3px;
}
.sm-body form .form-group p span {
    font-size: 13px;
}

.sm-body input[type="submit"] {
    border: none;
    background: var(--bd);
    color: #fff;
    padding: 5px 22px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}

/* training details styles */
.td-image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.td-image::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: #00000085;
}
.td-image img {
    width: 100%;
}
.td-img-txt h4 {
    font-size: 35px;
}
.td-img-txt {
    position: absolute;
    bottom: 35px;
    left: 30px;
    z-index: 1;

    color: #fff;
    font-family: serif;
}

.td-text h5 {
    color: var(--td);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.td-text p {
    font-weight: 600;
    font-size: 15px;
    text-align: justify;
}
.td-text ul li {
    font-weight: 600;
}

.td-share {
    text-align: right;
    margin-bottom: 15px;
}

.td-share a {
    color: var(--td);
    font-size: 21px;
    margin: 0 7px;
}

.course-details-section .section-title h2 {
    margin-right: 200px;
    font-size: 18px;
}

.td-curriculum a {
    color: var(--td);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 20px;
}

.td-curriculum p {
    font-weight: 600;
}

.td-accordions .service-accordion h5 > a {
    color: #ffffff;
}

.td-accordions .service-accordion .card-header {
    background: var(--bd);
}

.td-course-id span {
    background: var(--bd);
    display: block;
    text-align: center;
    color: #fff;
    margin-bottom: 29px;
    border-radius: 10px;
    padding: 14px 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.td-contact .card-header {
    background: var(--bd);
    color: #fff;
    text-align: center;
}
.td-contact .card-header h6 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2px 0;
}
.td-contact .card-body {
    padding: 0;
}
.td-contact .card-body span {
    display: block;
    padding: 8px 20px;
    padding-right: 10px;
    border-bottom: 1px solid #ddd;
}

.mda-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 0 7px #b3b3b3;
    margin-right: 20px;
}
.mda-img img {
}

.tdr-person .media-body h6 {
    font-weight: 600;
    font-size: 16px;
}
.tdr-person .media-body span {
    display: block;
    font-weight: 600;
    font-size: 15px;
}
.tdr-desc p {
    margin-top: 20px;
    font-weight: 600;
    text-align: justify;
}

.course-features {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px #ddd;
    background: #e7ffff;
}
.course-features h5 {
    border-bottom: 2px solid #777;
    font-size: 19px;
    padding-bottom: 5px;
    margin-bottom: 14px;
    font-weight: 600;
}
.course-features p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.course-features .fa {
    margin-right: 5px;
}

.tdr-height {
    height: 160px;
    overflow: hidden;
    transition: 0.4s;
}
.tdr-height-auto {
    height: auto !important;
    overflow: inherit;
    transition: 0.4s;
}

/* article page styles */
.article-item a {
    color: #000;
    text-decoration: none;
    display: block;
    margin-left: 13px;
    font-weight: 500;
    transition: 0.4s;
}
.article-item a:hover {
    color: var(--td);
}
.article-item img {
    width: 16px;
    margin-top: 5px;
}
.article-item .media {
    margin-bottom: 18px;
}

.ad-img img {
    width: 100%;
    border-radius: 10px;
}
/* .ad-images img{
    width: 70%;
    border-radius: 10px;
    border: 1px solid var(--border);
} */

.ad-video-main {
    overflow: hidden;
    height: 165px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.ad-video {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 12px 4px #d7cfcf;
    border: 1px solid #ddd;
}
.ad-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000050;
    border-radius: 10px;
}

.ad-video-main img {
    border-radius: 10px;
    min-height: 100%;
}
.ad-video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.ad-video-play img {
}
.ad-video-title {
    position: absolute;
    bottom: 5px;
    left: 20px;
    z-index: 1;
}
.ad-video-title h5 {
    font-size: 16px;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}

.adrm-img {
    height: 88px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 154px;
    margin-right: 10px;
}
.adrm-img img {
    min-height: 100%;
    min-width: 100%;
}

.ad-related {
    margin-bottom: 15px;
}

.ad-related a {
    text-decoration: none;
    color: #000;
    transition: 0.4s;
}
.ad-related:hover a {
    color: var(--td);
}
.adrm-txt {
}
.adrm-txt p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}
.adrm-txt span {
    font-size: 15px;
}

.article-page-section .section-title h2 {
    font-size: 18px;
}
.article-details{
    padding: 35px;
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: 10px;
}
.article-details .ad-titles {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;
}
.ad-author span {
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}
.ad-author span .fa {
    margin-right: 5px;
    color: var(--td);
}

.ad-descs {
}

.ad-descs p {
    text-align: justify;
    font-weight: 500;
}

.ad-descs a {
    text-decoration: none;
    background: var(--bd);
    color: #ffffff;
    display: inline-block;
    padding: 2px 18px;
    border-radius: 5px;
}

/* favourite article page styles  */
.fav-item {
    padding: 12px 32px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px #ddd;
    height: 152px;
    margin-bottom: 20px;
    transition: 0.4s;
}
.fav-item:hover {
    transform: var(--animate);
}

.rev-item-text {
    margin-bottom: 12px;
}
.rev-item-text a {
    display: block;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
}
.rev-item-text a:hover {
    color: var(--td);
}
.rev-item-text span {
    font-size: 15px;
    font-weight: 600;
}

.rit-desc p {
    font-size: 15px;
    font-weight: 600;
}

/* training page styles */
.tps-cat {
    background: #9fe0e0;
    min-height: 100%;
}
.tps-cat h5 {
    transform: rotate(-90deg);
    position: absolute;
    top: 40%;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 6px;
    right: -15px;
}
.tps-subcat h4 {
    background: #adbfff;
    text-align: center;
    padding: 22px 15px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 19px;
}
.tps-course {
    background: #f1f1f1;
    padding: 15px;
    height: 250px;
    overflow: auto;
}

.tps-course a {
    display: block;
    color: #000;
    text-decoration: underline;
    font-weight: 600;
    padding: 12px 0;
}

.custom-col-padding {
    padding-left: 5px;
}
.custom-col-padding-right {
    padding-right: 10px;
}

.tps-bb {
    padding: 20px 0;
    background: #fbbaba;
}

/* width */
.tps-course::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.tps-course::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
.tps-course::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 10px;
}

/* Handle on hover */
.tps-course::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 117, 117);
}

/* document hub page styles */
.dh-docs {
    height: 600px;
}
.doct-cat > h5 {
    font-weight: 600;
    border-bottom: 2px solid #323639;
    margin-bottom: 23px;
    padding-bottom: 5px;
}

/* legal insights section styles */
.solution-area {
    background: url(img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
}

.solution-item {
    background: #fff;
    padding: 15px;
    margin: 0 7px;
    box-shadow: var(--shadow);
    min-height: 161px;
    border: var(--border);
    border-radius: 10px;
    overflow: hidden;
    border-left: 4px solid var(--bd);
    padding-bottom: 10px;
}
.solution-item h5 {
    font-size: 16px;
}
.solution-item h5 a {
    text-decoration: none;
    color: #505050;
}

.solution-item .media-body a {
    display: inline-block;
    margin-bottom: 8px;
}

/* write up section styles */
.write-up-section {
    padding: 40px 0;
    background: #fafafa;
}
.sh-img a h4 {
    position: relative;
    padding: 5px 10px;
    padding-bottom: 10px;
    font-size: 17px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}

.sh-img-main {
    height: 156px;
    overflow: hidden;
}
.sh-img-main img{
    width: 100%;
}

.sh-img a h4::after {
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    background: var(--bd);
    position: absolute;
    left: 0;
    bottom: -2px;
}

.sh-box {
    margin: 0px 6px;
    border: 1px solid #ededed;
    background: #fff;
    box-shadow: var(--shadow);
    border-radius: 10px;
    overflow: hidden;
    min-height: 346px;
}
.sh-txt a {
    color: var(--td);
    text-decoration: none;
}
.sh-txt {
    padding: 15px;
}
.sh-img a {
    text-decoration: none;
    color: #555;
}

/* news events area styles */

.news-events {
    background: #fafafa;
}

.news-events-box {
    min-height: 130px;
    background: #fff;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ededed;
    border-radius: 10px;
    border-left: 4px solid var(--bd);
}

.ne-date {
    margin-bottom: 4px;
    font-size: 13px;
    color: #787878;
}

.ne-desc {
    color: #46474e;
    font-size: 14px;
    margin-bottom: 7px;
}

.ne-readmore {
    color: var(--td);
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.events-txt {
    width: 70%;
    float: left;
}

.events-img img {
    border-radius: 5px;
}
.events-img {
    width: 29%;
    float: left;
    padding-right: 2%;
}
.news-events-box h6 {
    font-weight: 600;
    font-size: 16px;
}

.news-events-box h6 a {
    text-decoration: none;
    color: #555;
    transition: 0.4s;
}

.news-events-box h6 a:hover {
    color: var(--td);
}
.ln-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.news-events .next-prev {
    margin-top: -4px;
}
.news-events .next-prev {
    margin-top: -4px;
}


/* service category page styles */
.service-categories{
    background: #fafafa;
}
.service-cat-box {
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    border-left: 4px solid var(--bd);
}
.service-cat-box a{
    text-decoration: none;
    color: #444;

}
.sc-txt {
    display: table-cell;
    height: 70px;
    padding: 10px;
    vertical-align: middle;
    font-weight: 600;
    color: var(--td);
}
.sc-txt h6{
    font-weight: 600;
    margin-bottom: 0;
}



/* article section page styles */
.article-section-page .article-box {
    min-height: 335px;
    margin: 0;
    margin-bottom: 15px;
}

.article-section-page .article-img {
    height: 123px;
}
.article-section-page .article-txt h5 {
    font-size: 16px;
}

/* write up section page styles */
.writeup-section-page .sh-box{
    margin: 0;
}

.writeup-section-page .sh-box {
    min-height: 305px;
    margin-bottom: 15px !important;
}

/* insights section page styles */
.insights-section-page .solution-item{
    margin: 0;
    margin-bottom: 15px;
}

.section-title-sm h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--td);
    border-bottom: 2px solid var(--td);
    margin-bottom: 25px;
    padding-bottom: 5px;
}


.news-tabs .nav-tabs {
    background: #fff;
    border-bottom: 0;
    border-radius: 13px 13px 0 0;
    overflow: hidden;
}

.news-tabs .nav-tabs .nav-item.show .nav-link, .news-tabs .nav-tabs .nav-item.show .nav-link, .news-tabs .nav-tabs .nav-item.show .nav-link, .news-tabs .nav-tabs .nav-item.show .nav-link, .news-tabs .nav-tabs .nav-link.active {
    border: var(--border);
    background: #f9f9f9;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}

.tab-content-bgc {
    border: var(--border);
    border-radius: 0 0 13px 13px;
}
.tab-data {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 372px;
    overflow-Y: auto;
}
.tab-data li {
    height: 87px;
    padding: 10px;
}
.tab-data li {
    padding: 10px 20px;
    border-bottom: var(--border);
    font-size: 15px;
    transition: .2s;
    display: block;
}

.tab-data li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}
.tab-data li span {
    float: left;
    display: block;
    width: 80px;
    height: 100%;
    margin-right: 10px;
}
.tab-data li span img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.sfof-details h6 {
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 20px;
    font-size: 15px;
}
.sfof-details p {
    font-size: 15px;
}
.sfof-action-btn {
    color: #777777;
    display: inline-block;
    height: 20px;
    width: 25px;
    border-radius: 5px;
    line-height: 20px;
    font-size: 11px;
    text-align: center;
    border: 1px solid #777777;
}

.office_function blockquote {
    font-size: 13.5px;
    font-style: inherit;
}
.office_function .ad-titles {
    font-size: 18px !important;
}

/* learner registration styles */
.login-registration-box form label {
    font-size: 15px;
    font-weight: 500;
}
.login-registration-box form input {
    font-size: 15px;
    background: #fafdff;
    border: 1px solid #e9e9e9;
}
.login-registration-box h4{
    font-size: 18px;
    color: var(--td);
}
.regi-expert-role {
    margin-bottom: 10px;
}
.already-registered-txt{
    text-decoration: none !important;
}

/* contact section styles */

.contact-us-form form .form-control {
    padding: 1.3rem .75rem;
    background: #f9f9f9;
    /* border-color: #f1f1f1; */
    font-size: 15px;
}

.contact-us .section-title2 h2::after {
    width: 100%;
}
.contact-form .sub-btn {
    border: none;
    background: var(--bd);
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 7px 15px;
    font-weight: 500;
    cursor: pointer;
}

.contact-us-details {
    padding: 15px;
    padding-top: 36px;
}
.contact-social a {
    color: var(--td);
    border: 2px solid var(--td);
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
    transition: .4s;
}
.contact-social a:hover{
    background: var(--bd);
    color: #fff;
}

.ad-icons {
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.office-address .ad-hotline {

    background: #42b6ff;
}

.office-address .ad-phone {
    background: #0a0;
}

.office-address .ad-email {
    background: #f95732;
}

.office-address {
    font-size: 15px;
}

/* course payment success */

.payment-success {
    border: 1px solid #ededed;
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 60px 25px;
}

.payment-success i {
    height: 60px;
    width: 60px;
    line-height: 60px;
    background: #00B340;
    color: #fff;
    border-radius: 50%;
    font-size: 28px;
}
.payment-success  h5 {
    margin-top: 17px;
    color: #00B340;
    margin-bottom: 10px;
    font-weight: 600;
}
.payment-success p{
    font-weight: 500;
}
.payment-success p a{
    font-weight: 600;
    color: #CE5A2C;
}
